body {
    margin: 0;
    font-size: min(10vw, 2em);
    font-family: 'JetBrains Mono';
    min-width: 300px;
}

body>div {
    display: table;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

body>div>div {
    display: table-row;
}

body>div>div>div {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    margin-bottom: .5em;
}

button {
    -webkit-appearance: none;
    border: none;
    border-radius: 0.25em;
    font-family: inherit;
    color: black;
    font-size: .6em;
    white-space: normal;
    word-wrap: break-word;
    margin-right: 10vw;
    margin-left: 10vw;
}

#platitude {
    margin-right: 10vw;
    margin-left: 10vw;
}